# Dependabot will run on day 22 of each month at 03:05 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "5 3 22 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "5 3 22 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
